<h3>Protected Route</h3>

Hello {{session.content.userName}}! Your email is {{session.content.userEmail}}

<br><br>

<h4>Model info</h4>
User: {{model.name}}
<br>
sipuser: {{model.sipuser}}
<br>
number: {{model.number}}
<br>
ext: {{model.ext}}
<br>

<br><br>

You shouldn't see this unless logged in
{{outlet}}
